* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

/* Style Banner */
.banner {
  width: 100%;
  height: 600px;
  background-image: url(./Images/Bai7-Section.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  color: #fff;
  position: relative;
}
.overlay {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.5);
  inset: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.banner .main-title {
  font-size: 60px;
  font-weight: 700;
  margin-bottom: 21px;
}
.banner .decsription {
  font-size: 22.7px;
  font-weight: 400;
}

/* Style About */
.about {
  margin: 60px 260px;
}
.list-card {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  justify-content: center;
}
.card {
  width: calc(25% - 30px);
  /* flex: 1; */
  height: 300px;
  border: 1px solid #000;
}

/* Style Contact */
.contact {
  background-color: #8b0000;
  padding: 81px 460px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.title {
  font-size: 47.6px;
  color: #fff;
  font-weight: 700;
  margin-bottom: 31px;
}
.contact-time {
  font-size: 15.1px;
  font-weight: 400;
  color: #fff;
  margin-bottom: 8px;
}
.form-contact {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 40px;
}
.input-group {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}
.form-input {
  width: calc(33.33% - 20px);
  height: 51px;
  padding: 0 15px;
  outline: none;
  border: none;
  border-radius: 10px;
}
.form-btn {
  height: 53px;
  background-color: #fff;
  color: #8b0000;
  font-size: 20px;
  font-weight: 700;
  padding: 0 50px;
  border-radius: 50px;
  outline: none;
  border: none;
  cursor: pointer;
  transition: all 0.2s linear;
}

.form-btn:hover {
  background-color: #dadada;
  color: #fff;
}

/* Style Footer */
.footer {
  height: 98px;
  background-color: #1e1e1e;
  color: #ddd;
  display: flex;
  justify-content: center;
  align-items: center;
}
