* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  font-family: sans-serif;
}
.header {
  height: 450px;
  width: 100%;
  background:
    linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(./Images/Bai7-Section.png);
  background-size: cover;
  background-position: center;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}
.header h1 {
  font-family: Inter;
  font-weight: 700;
  font-style: Bold;
  font-size: 60px;
  line-height: 100%;
  letter-spacing: 0%;
  text-align: center;
  vertical-align: middle;
  margin-bottom: 21px;
}
.header p {
  font-family: Inter;
  font-weight: 400;
  font-style: Regular;
  font-size: 22.7px;
  line-height: 100%;
  letter-spacing: 0%;
  text-align: center;
  vertical-align: middle;
}
.main {
  height: 750px;
  width: 100%;
}
.card-list {
  margin: 60px 75px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  gap: 30px;
}
.card {
  height: 300px;
  width: 300px;
  display: flex;
  align-items: end;
  border-radius: 15px;
  background: #ffffff01;
  box-shadow: 0px 10px 30px 0px #00000033;
}
.card img {
  /* width: 300px;
  height: 300px; */
  position: relative;
}
.card-des {
  width: 300px;
  height: 133px;
  position: absolute;
}
.card-header {
  padding-top: 40px;
  font-family: Inter;
  font-weight: 700;
  font-style: Bold;
  font-size: 27.9px;
  line-height: 100%;
  letter-spacing: 0%;
  text-align: center;
  vertical-align: middle;
}
.card-footer {
  font-family: Inter;
  font-weight: 400;
  font-style: Regular;
  font-size: 17px;
  line-height: 100%;
  letter-spacing: 0%;
  text-align: center;
  vertical-align: middle;
}
.section {
  height: 480px;
  width: 100%;
  background-color: #8b0000;
}
.section h2 {
  padding-top: 80px;
  font-family: Inter;
  font-weight: 700;
  font-style: Bold;
  font-size: 47.6px;
  line-height: 100%;
  letter-spacing: 0%;
  text-align: center;
  vertical-align: middle;
  color: #ffffff;
}
.section p {
  margin-top: 30px;
  font-family: Inter;
  font-weight: 400;
  font-style: Regular;
  font-size: 15.1px;
  line-height: 100%;
  letter-spacing: 0%;
  text-align: center;
  vertical-align: middle;
  color: #ffffff;
}
.form-container {
  display: flex;
  justify-content: center;
}
.form-container form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
  width: 1000px;
  height: 125px;
}
input,
select {
  width: 300px;
  height: 50px;
  border-radius: 10px;
  border: none;
  padding: 15px;

  font-family: Inter;
  font-weight: 400;
  font-style: Regular;
  font-size: 17px;
  line-height: 100%;
  letter-spacing: 0%;
  vertical-align: middle;
}
.button-container {
  margin-top: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}
button {
  width: 300px;
  height: 53px;
  border-radius: 50px;
  border: none;
  font-family: Inter;
  font-weight: 700;
  font-style: Bold;
  font-size: 20px;
  line-height: 100%;
  letter-spacing: 0%;
  text-align: center;
  vertical-align: middle;
  color: #8b0000;
}
.footer {
  height: 100px;
  width: 100%;
  background-color: #1e1e1e;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer p {
  font-family: Inter;
  font-weight: 400;
  font-style: Regular;
  font-size: 15.1px;
  line-height: 100%;
  letter-spacing: 0%;
  text-align: center;
  vertical-align: middle;
  color: #dddddd;
}
