* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.flex-container {
  width: 100%;
  height: 500px;
  background-color: aqua;
  /* Các thuộc tính luôn luôn đi với flex container */
  display: flex; /* Xác nhận việc sử dụng flex box */
  flex-direction: row; /* Thay đổi hướng hiển thị của main axis */
  justify-content: center; /* Thuộc tính luôn luôn đi với trục main axis */
  align-items: center; /* Thuộc tính luôn đi với trục cross axis */
  gap: 10px; /* Dãn cách các phần tử trong container */
  flex-wrap: wrap; /* Giúp phần tử tự xuống hàng khi flex container không đủ diện tích */
}

.flex-items {
  width: 200px;
  height: 200px;
  color: #fff;
  background-color: blue;
  border: 1px solid gray;
  /* Các thuộc tính luôn luôn đi với flex item */
}

.items-1 {
  order: 5;
  flex: 1;
}
.items-2 {
  order: 4;
  flex: 1;
}
.items-3 {
  order: 2;
  flex: 1;
}
.items-4 {
  order: 3;
  flex: 1;
}
.items-5 {
  order: 1;
  flex: 1;
}
.items-6 {
}

.children-items {
}
