* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.container {
  background-color: aqua;
  height: 100vh;
  width: 100vw;
  display: flex;
}
.menu {
  background-color: blue;
  width: 250px;
}
.main-content {
  flex: 1;
  display: flex;
  flex-direction: column;
}
.header {
  background-color: red;
  height: 50px;
}
.main {
  background-color: gray;
  flex: 1;
}
