* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  font-family: sans-serif;
  font-size: 16px;
}
.header {
  width: 100%;
  height: 97px;
  color: #fff;
  background-color: #1e1e1e;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 40px;
  position: sticky;
  top: 0;
}
.logo {
  color: #d4af37;
  font-weight: 700;
  font-size: 32px;
  font-style: Bold;
}
.nav-link {
  display: flex;
  gap: 40px;
}
.link {
  color: #ddd;
  font-size: 17px;
  font-weight: 700;
  text-decoration: none;
}
.main {
  width: 100%;
  background-color: #f9f5f0;
  padding: 60px 40px;
}
.list-card {
  display: flex;
  gap: 50px;
}
.card-item {
  width: 580px;
  background-color: #fff;
  border-radius: 15px;
  box-shadow: 0px 8px 30px 0px #00000026;
  padding: 40px 40px;
}
.food-name {
  color: #d4af37;
  font-size: 27.6px;
  font-weight: 700;
  margin-bottom: 30px;
}
.food-description {
  color: #555;
  font-size: 17.7px;
  line-height: 28.8px;
  font-weight: 700;
  margin-bottom: 35px;
}
.food-image {
  width: 500px;
  height: 300px;
  border-radius: 15px;
  object-fit: cover;
}
.footer {
  height: 78px;
  background-color: #1e1e1e;
  color: #ddd;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 40px;
}
.footer-right {
  display: flex;
  gap: 25px;
}
.footer-right a {
  color: #ddd;
  font-size: 15px;
  text-decoration: none;
}
